body {
    width: 700px;
    margin: auto;
    padding: 0;
}

#facebook {
    background-color: blue;
    padding: 0;
    margin: auto;
    float: left;
    width: 90%;
}
.fb {
    float: left;
    color: white;
    font-style:;
}

.create {
    float: right;
    color:white;
    background-color: green;
    border: 1px solid green;
    padding: 10px;
}
#getfb {
    width: 90%;
    padding: 0;
    margin: auto;
}
img {
    float: left;
    width: 50px;
    height: 50px;
    padding-top: 5px;
    padding-bottom: 5px;
}
#get {
    background-color: #f1f1c1;
    padding-left: 0;
    margin: auto;
    float: left;
    width: 90%;
    border-bottom: 1px solid yellow;
}
.getfb {
    width: 70%;
    padding: 0;
    float: left;
}
#cont {
    width: 100%;
    padding: 0;
    margin: auto;
}
.container {
    background-color: #cccccc;
    padding:10px;
    width: 87%;
    padding-bottom: 20px;
}
input {
    padding: 20px;
    width: 93%
}
label {
    color: grey;
    width: 100%;
    padding:5px;
}
button {
    background-color: blue;
    text-align: center;
    width: 100%;
    color: white;
}
.center {
    justify-content: center;
    align-items: center;
    background-color: green;
    width:25%;
    padding: 20px;
    text-align: center;
}
div.container button {
    padding: 15px;
}

.float {
    float: right;
    width: 50%;
    background-color: darkslategrey;
    color: #A9A9A9;
}
#footer {
    display: inline-block;
    list-style-type: none;
}
.footer {
    color: #A9A9A9;
    padding: 0;
    margin: auto;
    float: left;
    width: 50%;
}
#foot {
    background-color: darkslategrey;
    padding-left: 0;
    margin: auto;
    float: left;
    width: 90%;
}
.blue {
    color: blue;
    width: 35%;
}